image: docker:stable

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2
  # https://gitlab.com/gitlab-org/gitlab-ce/issues/64959
  # 19.03 had some breaking changes compared to 18.09
  DOCKER_TLS_CERTDIR: ""

services:
  - docker:dind

stages:
  - build
  - push

before_script:
  - docker info
  - export ANSIBLE_VERSION="$(grep ansible_version= Dockerfile | awk -F'=' '{print $2}')"

build:
  stage: build
  script:
    # https://docs.gitlab.com/ee/ci/variables/predefined_variables.html
    - docker build -t $CI_COMMIT_SHORT_SHA:$CI_COMMIT_SHA -t $CI_COMMIT_SHORT_SHA:$ANSIBLE_VERSION .
    - docker images

push:
 stage: push
 only:
   - master
 script:
   - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD # $CI_REGISTRY_DOMAIN
   - docker build -t $CI_REGISTRY_DOMAIN/$CI_REGISTRY_USER/$CI_REGISTRY_PROJECT:latest -t $CI_REGISTRY_DOMAIN/$CI_REGISTRY_USER/$CI_REGISTRY_PROJECT:$CI_COMMIT_SHA -t $CI_REGISTRY_DOMAIN/$CI_REGISTRY_USER/$CI_REGISTRY_PROJECT:$ANSIBLE_VERSION .
   - docker images
   - docker push $CI_REGISTRY_DOMAIN/$CI_REGISTRY_USER/$CI_REGISTRY_PROJECT:latest
   - docker push $CI_REGISTRY_DOMAIN/$CI_REGISTRY_USER/$CI_REGISTRY_PROJECT:$CI_COMMIT_SHA
   - docker push $CI_REGISTRY_DOMAIN/$CI_REGISTRY_USER/$CI_REGISTRY_PROJECT:$ANSIBLE_VERSION
